.weather-app {
    
    padding:20px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.overview {
margin: bottom 0px;
}

h1 {
    overflow: hidden;
    padding-top: 4px;
    white-space: nowrap;
    margin-bottom: 0;
}
h3 {
    padding-top: 4px;
    white-space: nowrap;
    color: #70757a;
}
li{
    color: #70757a;
    font-size: 15px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
    list-style: none;
}
li:first-letter{
    text-transform: capitalize;
}
ul {
    margin: 0;
    padding: 0;
}
 strong {
    color: #202124;
    display: inline-block;
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
}
 small {
    position: relative;
    color: #202124;
    font-size: 14px;
    font-weight: normal;
    top:-20px;
}
a {
    text-decoration: none;
}

.active {
color: #202124;
cursor: default;
text-decoration: none;
}
.active :hover {
    text-decoration: none;

}
.active :active{
    text-decoration: none;
}
.weather-forecust{
    margin-top: 20px;
    text-align: center;
}
.weather-forcut-date {
    font-size: 16px;
    color: #000;
}
.weather-forcut-tempereture{
    opacity
}
.container{
    background-color: whitesmoke;
}