.weather-app {
    
    padding:20px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.overview {
margin: bottom 0px;
}


h1 {
    overflow: hidden;
    padding-top: 4px;
    white-space: nowrap;
    margin-bottom: 0;
}
h3 {
    padding-top: 4px;
    white-space: nowrap;
    color: #70757a;
}
li{
    
    color: #70757a;
    font-size: 15px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
.weather-temperatuer strong {
    color: #202124;
    display: inline-block;
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
}
.weather-temperatuer small {
    position: relative;
    color: #202124;
    font-size: 14px;
    font-weight: normal;
    top:-20px;
}