.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding:20px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}

h1 {
    display: inline-block;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}
h3 {
    font-weight: lighter;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
li{
    
    color: #70757a;
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
